body {
  background-color: lightsteelblue;
}

.App {
  text-align: center;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.contentContainer {
  background-color: aliceblue;
  border-radius: 10px;

  margin-top: 50px;
  padding: 10px 20px 20px 20px;

  text-align: left;
  width: 800px;
}

.totalContainer {
  text-align: right;
}